/* Monokai color scheme: 
    http://eclipsecolorthemes.org/?id=52&view=theme
    http://www.colourlovers.com/palette/1718713/Monokai
*/

body {
    background-color: #272822;
    color: #F8F8F2;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}

#app {
    display: table;
    width: 100%;
}

#sidebar, #note {
    display: table-cell;
    vertical-align: top;
}

#sidebar {
    width: 120px;
    height: 100vh;
    min-width: 120px;
    border-left: 1px solid #757575;
}
#sidebar .tab {
    color: #D0D0D0;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 105px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip; 
}
#sidebar .tab:hover {
    background-color: #757575;
    color: #000;
    cursor: default;
}
#sidebar .selected {
    background-color: #757575;
    color: #000;
    font-weight: bold;
}
#sidebar #addtab {
    margin-top: 4px;
    width: 20px;
    background-color: #464646;
    color: #000;
    text-align: center;
    font-weight: bold;
}
#sidebar #addtab:hover {
    background-color: #757575;    
    cursor: default;
}

#note {
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
}

#note #title:focus  {
    outline: 1px solid #757575;
}
#note #content:focus {
    outline: none;
}

#note #title {
    color: #B0B0B0;
    font-size: 26px;
    font-weight: bold;
    margin: 0px;
    min-height: 30px;
    border-bottom: 1px solid #404040;
}

#note #content {
    padding-left: 4px;
    white-space: pre-wrap;
    tab-size: 4; -moz-tab-size: 4; -o-tab-size: 4;
    height: 80vh;
}

.button {
    border: 1px solid #757575;
    background-color: #757575;
    border-radius: 4px;
    color: #000;
}